@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);

body {
  font-family: 'Arimo', sans-serif;
}

.navbar {
  height: 100px;
  margin: 0;
}
.navbar-inverse {
  background-image: url('../images/header.jpg');
  background-size: contain;
  background-color: #55C0AD;
  border-color: #49A998;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-right {
  margin-top: 35px;
}
.navbar-nav > li > .btn {
  font-weight: 700;
  font-size: 16px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #49A998;
}

.navbar-btn {
  margin-top: 40px;
  margin-bottom: 8px;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.tooltip.in {
	filter:alpha(opacity=70);
	opacity:.7
}

#idk-pencarian {
  padding-bottom: 25px;
  box-shadow: 0px 5px 20px #ccc;
}
#idk-pencarian .title-cari, #favorit h3, #terbaru h3 {
  font-size: 18px;
  font-weight: 700;
}
#idk-pencarian .title-cari {
  color: #666666;
}

#idk-pencarian .form-control {
  color: #B3B3B3;
}

#favorit {
  background-color: rgba(224,252,247,0.5);
  padding: 25px 0;
  box-shadow: 0px 5px 20px #ccc;
}
#favorit .title-fav, #terbaru .title-fav {
  color: #3E9284;
  margin-left: 15px;
  margin-top: 0;
}
#favorit .thumbnail img, #terbaru .thumbnail img {
  border: 1px solid #3E9284;
  border-radius: 2px;
}
#favorit .thumbnail, #terbaru .thumbnail {
  position: relative;
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #2A6F64;
  border-bottom: transparent;
}
#favorit .title-kost, #terbaru .title-kost {
  position: absolute;
  bottom: 4px;
  background-color: rgba(0,0,0,0.6);
  width: 97%;
}
.title-kost a {
  color: #ffffff;
  text-decoration: none;
}
.title-kost a:hover .kost-name {
  text-decoration: underline;
}
.title-kost .kost-name {
  font-weight: 700;
  font-size: 16px;
  margin-top: 5px;
}
.title-kost .kost-addr {
  font-size: 12px;
}
.title-kost .kost-addr, .title-kost .kost-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.title-kost p {
  margin-bottom: 5px;
  padding: 0 10px;
}
#favorit .caption, #terbaru .caption {
  background-color: #3E9284;
  padding: 5px 15px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #2A6F64;
  border-top: 0;
  position: relative;
}
#favorit .owner-kost, #favorit .contact-owner,
#terbaru .owner-kost, #terbaru .contact-owner {
  color: #4D4D4D;
  font-size: 12px;
  color: #ffffff;
}
#favorit .owner-kost, #terbaru .owner-kost {
  margin-bottom: 5px;
}
#favorit .glyphicon-star {
  color: #FFFF00;
  background-color: #333;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
}
#favorit .price, #terbaru .price {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
  color: #dddddd;
}
#favorit .price .nom-price, #terbaru .price .nom-price {
  color: #FF0;
  font-size: 20px;
}

#terbaru {
  background-color: rgba(230,230,230,0.5);
  padding: 25px 0;
  border-bottom: 1px solid #CCC;
}
#terbaru .glyphicon-star {
  color: #FFFFFF;
  background-color: #333;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
}

#idk-menu {
  background-color: #FFFFFF;
  padding: 25px 0;
}
#idk-menu .title-menu {
  color: #B3B3B3;
  font-size: 14px;
  margin-top: 0;
}
#idk-menu ul {
  padding-left: 0px;
}
#idk-menu .list-menu li{
  list-style: none;
  font-size: 12px;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
}
#idk-menu .list-menu li a{
  color: #666666;
  text-decoration: none;
}
#idk-menu .list-menu li a:hover, #idk-menu .list-menu li a:focus {
  color: #3E9284;
  text-decoration: underline;
}

#idk-footer {
  background-color: #55C0AE;
  padding: 15px 0;
}
#idk-footer .tagline-logo img {
  width: 125px;
}
#idk-footer .tagline-logo .tagline {
  color: #F2F2F2;
  font-size: 20px;
  display: inline-block;
  margin: 0;
  margin-left: 15px;
}
#idk-footer .socmed {
  line-height: 3;
  color: #F2F2F2;
  float: right;
}
#idk-footer .socmed ul {
  padding-left: 15px;
  margin: 0;
}
#idk-footer .socmed .link-socmed {
  display: inline-block;
}
#idk-footer .socmed .link-socmed li {
  display: inline-block;
}
#idk-footer .socmed .link-socmed .social-icon {
  padding-top: 4px;
  font-size: 14px;
  text-align: center;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  margin-right: 5px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#idk-footer .socmed .link-socmed a:hover .fa-facebook {
  color: #365899;
  border-color: #365899;
  background-color: #ffffff;
}
#idk-footer .socmed .link-socmed a:hover .fa-twitter {
  color: #1da1f2;
  border-color: #1da1f2;
  background-color: #ffffff;
}
#idk-footer .socmed .link-socmed a:hover .fa-instagram {
  color: #333333;
  border-color: #333333;
  background-color: #ffffff;
}
#idk-footer .socmed .link-socmed a:hover .fa-youtube {
  color: #CC181E;
  border-color: #CC181E;
  background-color: #ffffff;
}

#idk-cipta {
  padding: 10px 0;
  font-size: 10px;
  color: #cccccc;
}
#idk-cipta a {
  color: #55C0AE;
}

.btn {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-color: #E6E6E6;
  border: 2px solid transparent;
}
.btn:hover, .btn:focus, .btn:active, .btn:visited {
  outline: none;
}
.btn-cari1 {
  margin-top: 50px;
}
.btn-cari2 {
  margin-top: 12px;
}

.btn-default {
	color:#333;
	background-color:#fff;
	border-color:#E6E6E6;
}
.btn-menu {
  color: #666666;
  background-color: #F2F2F2;
}
.btn-default.focus,.btn-default:focus {
	color:#333;
	background-color:#e6e6e6;
	border-color:#E6E6E6;
}
.btn-default:hover {
	color:#333;
	background-color:#e6e6e6;
	border-color:#E6E6E6;
}
.btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default {
	color:#333;
	background-color:#e6e6e6;
	border-color:#E6E6E6;
}
.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.dropdown-toggle.btn-default.focus,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover {
	color:#333;
	background-color:#d4d4d4;
	border-color:#E6E6E6;
  outline: none;
}
.btn-success {
	color:#fff;
	background-color:#91B02A;
	border-color:#E6E6E6;
}
.btn-success.focus,.btn-success:focus {
	color:#fff;
	background-color:#809f1a;
	border-color:#E6E6E6;
}
.btn-success:hover {
	color:#fff;
	background-color:#809f1a;
	border-color:#E6E6E6;
}
.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success {
	color:#fff;
	background-color:#809f1a;
	border-color:#E6E6E6;
}
.btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.dropdown-toggle.btn-success.focus,.open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover {
	color:#fff;
	background-color:#6b8417;
	border-color:#E6E6E6;
  outline: none;
}
.btn-danger {
	color:#fff;
	background-color:#ED2A2E;
	border-color:#D32027;
}
.btn-danger.focus,.btn-danger:focus {
	color:#fff;
	background-color:#D32027;
	border-color:#931A1D;
}
.btn-danger:hover {
	color:#fff;
	background-color:#D32027;
	border-color:#931A1D;
}
.btn-danger.active,.btn-danger:active,.open>.dropdown-toggle.btn-danger {
	color:#fff;
	background-color:#D32027;
	border-color:#931A1D;
}
.btn-danger.active.focus,.btn-danger.active:focus,.btn-danger.active:hover,.btn-danger:active.focus,.btn-danger:active:focus,.btn-danger:active:hover,.open>.dropdown-toggle.btn-danger.focus,.open>.dropdown-toggle.btn-danger:focus,.open>.dropdown-toggle.btn-danger:hover {
	color:#fff;
	background-color:#931A1D;
	border-color:#801316;
  outline: none;
}

.form-control:focus {
  border-color: #55C0AD;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(86, 193, 174, 0.6);
}
