.navbar-toggle {
  background-color: #49A998;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover {
  background-color: #308071;
  border-color: #22675a;
}
.navbar-inverse .navbar-toggle {
  border-color: #308071;
}

@media (max-width:767px) {
  .navbar {
    height: 51px;
  }
  .navbar-inverse .navbar-collapse>ul>li {
    display: inline-block;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #49A998;
    background-color: #55C0AE;
  }
  .navbar-collapse {
    padding: 15px;
  }
  .navbar-nav > li {
    margin-right: 0;
  }
  .navbar-nav > li:first-child {
    margin-right: 15px;
  }
  .navbar-brand {
    padding: 10px 15px;
  }
  .navbar-brand>img {
    height: 35px;
  }
  .navbar-right {
    margin: 0;
  }
  .navbar-nav > li:first-child {
    margin-right: 0;
  }
  .navbar-btn {
    margin: 0;
  }
  .btn-cari1 {
    margin-top: 25px;
  }
  .btn-cari2 {
    margin-bottom: 25px;
  }
}
